html {
    font-size: 16px;
    background-color: hsl(229, 57%, 11%);
  
    height: 100%;
    width: 100%;
    font-family: "Raleway", sans-serif;
  
  }
  body{
    justify-content: center;
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    height:  70rem;
    width: 100%;
    font-size: 16px;
    
    
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    top: 6.25rem; 
    transform: scale(1.35);
  }
  
  img {
    width: 100%; 
  }
  
  #rightside {
    background-color: rgb(31, 45, 104);
    height: 12rem;
    width: 35%;
    display: flex;
    border-radius: 0.625rem 5.625rem 0.625rem 0.625rem;
    flex-wrap: wrap;
  }
  
  #logo {
    margin: 1.875rem 8.75rem 0.625rem 1.875rem;  
  }
  
  #rightside div {
    background-color: hsl(229, 57%, 11%);
    margin: 0.625rem;
    padding: 0.625rem;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #leftside {
    background-color: rgb(31, 45, 104);
    height: 8.75rem; 
    margin-left: 1.875rem;
    border-radius: 0.625rem;
    width: 65%; 
    display: flex;
    flex-wrap: wrap;
  }
  
  #rightside #icons {
    margin-left: 1.875rem;
    margin-bottom: 2.5rem;
  }
  
  #leftside #text {
    font-size: 0.75rem;
    color: hsl(243, 100%, 93%);
    font-weight: 100;
    margin-right: 6.25rem; 
    margin-top: 1.875rem;
    margin-left: 1.25rem;
  }
  
  #leftside span {
    font-weight: bolder;
  }
  
  #leftside #one {
    position: relative;
    top: 0.0625rem
  }
  
  #leftside #five {
    position: relative;
    top: 0.125rem
  }
  
  meter {
    width: 25rem; 
    background-color: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  }
  
  #leftside #wbox {
    background-color: white;
    width: 7.5rem; 
    height: 3.125rem;
    top: -1.875rem; 
    font-size: 0.625rem;
    border-radius: 0.625rem;
}

#wbox{
    align-items: end;
    display: flex;
}

#wbox div {
    font-weight: 700;
    font-size: 1.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.1875rem
}

 #wbox #gb {
    font-size: 0.5625rem;
    color: hsl(229, 7%, 55%);
    font-weight:lighter;
}

#qw{
    margin-left: 0.625rem;
}

#ui {
    position: relative;
    top: -0.125rem;
}

#rt {
    position: relative;
    top: 0.125rem;
    margin-right: 0.3125rem;
}

#leftside  #barbg {
    width: 26.875rem; 
    height: 1rem;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    margin-bottom: 0.3125rem;
    margin-left: 1.875rem;
    margin-right: 1.25rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
}

#leftside #bar {
    background:linear-gradient(90deg,hsl( 6, 100%, 80%) , hsl(335, 100%, 65%)); 
    width: 16.875rem; 
    height: 0.75rem;
    background-color: white;
    border-radius: 2.5rem;
    margin-left: 0.125rem;
    display: flex;
    align-items: center;
}

#leftside #ball{
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    margin-left: 16.188rem; 
}

#zgb {
    font-size: 0.875rem;
    color: hsl(243, 100%, 93%);
    margin-bottom: 1.875rem;
    margin-left: 1.875rem;
}

#thgb{
    font-size: 0.875rem;
    color: hsl(243, 100%, 93);

}

